**/target/*
target/*
**/classes/*
**/out/*
**/bin/*
**/src-generated/*
**/generated/*
**/resources-generated/*
.repository
CHANGELOG.md
README.md
# Logs
logs
*.log*
*.bak
**/.DS_Store

# IDE preferences and settings
.idea
.project
*.settings*
.classpath
*.iml
.externalToolBuilders
*.ipr
*.iws
*.ids
/.designer/
atlassian-ide-plugin.xml
.flattened-pom.xml


# Node.js modules
node_modules

#Maven
.mvn

*/.m2
*.versionsBackup
*gradle
mvnw*

#nonsnapshot-maven-plugin
#REsources bundles
*.class
*.map
*.pyc
*~
*.sqlite
*.esproj*
*.hg*
.pydevproject
*.db
\#*\#
\.\#*
\.ropeproject
\.buildpath
*.lock
*.cache
*config.ini
*rebel*.xml
**/*TestMe*
liquibase.properties

/nonsnapshotBuildIncremental.sh
*/env.*.properties
!/shell/env.global.properties
!/web-order/src/main/java/ru/mvideo/order/configs/OrderApplication.java
!/web-fiscalization/
!/web-fiscalization/pom.xml
!/web-service-info/
!/web-recommendation/src/main/java/ru/mvideo/recommendation/services/sap/RecommendationSapServiceImpl.java
!/web-recommendation/src/main/java/ru/mvideo/recommendation/repositories/RecommendationServiceStatusRepository.java
*.clover/*
!/web-quota/src/main/java/ru/mvideo/quota/services/availability/QuotaAvailabilitySpServiceImpl.java
